<h1>User Profile</h1>
<hr>

<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />

       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>

       <div class="media-body">
         <h3 class="media-heading"><%= @user.name %></h3>

           <% if @user.premium? || @user.admin? %>
            <span style="color:red"><%= @user.role.capitalize %></span>
           <% else %>
            <span style="color:green"><%= @user.role.capitalize %></span>
           <% end %>
          account type<br>
          <br>
          <% if current_user %>
            <%if current_user.standard? %>
              <%= link_to "Upgrade", new_charge_path, class: 'btn btn-danger' %>
              <span style="color:black; font-size:100%">&nbsp;to a Premium Account!</span>
           <%elsif current_user.premium? %>

           <%= link_to "Downgrade", charge_path(current_user), class: 'btn btn-warning' %>
           <span style="color:black; font-size:100%">&nbsp;to a Standard Account!</span>

           <% end %>
         <% end %>



       </div>
     </div>
   </div>
 </div>

 <br>

 <%= link_to "Edit Registration", edit_user_registration_path, class: 'btn btn-primary' %>
