<h1>Premium Account Status</h1>
<hr>
<div class="row">
  <div class="col-md-12">
     <strong>Username:</strong> <%= @user.name %><br>
     <strong>Account:</strong>  <%= @user.role.capitalize %><br>
     <strong>Upgrade date:</strong>  <%= @amount.created_at %><br>
     <strong>Charged Amount:</strong>  <%= Money.us_dollar(@amount.amount_billed).format %><br>
     <br>
     <% if @refund_status == APPROVED %>
       <p style="color:green; font-weight:bold">Refund Eligble: Yes</p>
      <% else %>
       <p style="color:red; font-weight:bold">Refund Eligble: No (<%= refund_desc(@refund_status) %>)</p>
     <% end %>

      <strong>-> Selecting the button below will downgrade your account to a Standard account.</strong><br>
      <strong>-> Please note your refund eligibility as noted above.</strong>
      <br>
      <br>
      <%= link_to "Downgrade NOW!", charges_destroy_path, method: :delete, class: 'btn btn-danger',data: {confirm: 'Are you sure you want to delete this topic?'} %>


   </div>

</div>
